body {
  background-color: lightblue;
  color: white;
  font-size: 100%;
}

nav ul > li {
  display: inline-block;
  text-decoration: underline;
  float: left;
  font-weight: bold;
  margin: auto 3px;;
}

header {
  margin-top: -5%;
  background-color: white;
  color: lightblue;
}

li > a:hover, p:hover {
  color: pink;
  text-decoration: none;
  background-color: white;
  padding: 2px;
  margin-right: 10px;
}

hr {
  border: 1px solid white
}
