body {
  background-color: lightblue;
  color: white;
  font-size: 100%;
}

nav ul > li {
  display: inline-block;
  text-decoration: underline;
  float: left;
  font-weight: bold;
  margin: auto 3px;;
}

header {
  margin-top: -5%;
}

a:hover {
  color: pink;
  text-decoration: none;
  background-color: white;
}

hr {
  border: 1px solid white;
  width: 98%;
}

p {
  margin: 0 5%;;
}

textarea, input {
  color: black;
}

button {
  background-color: white;
  color: pink;
  margin-left: 5%;
}

label {
  display: block;
  margin: 2px 0;
}
